@import url(reset.css);

.row div {
	padding-top: 10px;
	text-align: center;
}
#music_1{
	text-align: center;
	background-color: #fafafa;
}
#music_1 p{
	font: 25px Arial;
	padding-top: 15px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait)  {
	body .wraper{
		text-align: center;
	}
	body .wraper_1 {
		position: relative;
		width: 330px;
		background-color: #ffffff;
	}
	body header {
		text-align: center;
	}
	body .square_4 {
	display: inline-block;
	padding: 5px 3px;
	color: #337ab7; /* цвет текста */
	background:#ffffff; /* фон блока */
	border: 1px solid #337ab7;
	cursor: pointer;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-moz-border-radius: 10px; /* закругление для старых Mozilla Firefox */
	-webkit-border-radius: 10px; /* закругл. для старых Chrome и Safari */
	-khtml-border-radius:10px; /* закругл. для браузера Konquerer системы Linux */
	border-radius: 10px; /* закругление углов для всех, кто понимает */
	font: 9px Arial;
	}
	body #portfolio {
		text-align: center;
	}
	body .audio-player-wrapper {
		margin: 20px auto 0 auto;
	}
	}
.wraper_1 {
	position: fixed;
	width: 1140px;
	background-color: #e2e2e2;
	z-index: 1;
	padding-top: 10px;
}
.square_4 {
	display: inline-block;
	padding: 5px 10px;
	color: #337ab7; /* цвет текста */
	background:#ffffff; /* фон блока */
	border: 1px solid #337ab7;
	cursor: pointer;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-moz-border-radius: 10px; /* закругление для старых Mozilla Firefox */
	-webkit-border-radius: 10px; /* закругл. для старых Chrome и Safari */
	-khtml-border-radius:10px; /* закругл. для браузера Konquerer системы Linux */
	border-radius: 10px; /* закругление углов для всех, кто понимает */
}
.square_4:hover {
	color: #ffffff; /* цвет текста */
	background:#337ab7; /* фон блока */
}
/*.row a {
	font: 15px Arial;
}

a {
	color: gray !important;
	text-decoration: none;
}

a:hover {
	text-decoration: none !important;
	color: #141414 !important;
	font: bold 16px Arial;
	
}*/

#portfolio {
	text-align: right;
	font: bold 30px Arial;
}
#square {
   width: 100%; 
   height: 1px; 
   background: slategray; 
}
#back_1 {
	height: 560px;
	text-align: center;
	background-color: #eeeeef;
}
#head_back_1 {
	padding-top: 200px;
	font: 55px Arial;
}
#github { 
 width:200px; /* Длина фигуры */
 height:50px; /* Высота фигуры */
 color: #0000; /* цвет текста */
 background:#337ab7; /* фон блока */
 -moz-border-radius: 10px; /* закругление для старых Mozilla Firefox */
 -webkit-border-radius: 10px; /* закругл. для старых Chrome и Safari */
 -khtml-border-radius:10px; /* закругл. для браузера Konquerer системы Linux */
 border-radius: 10px; /* закругление углов для всех, кто понимает */
 margin:auto;
 padding-top: 8px;
 transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
}
#github:hover {
	background: #67abe5;
}
#github_text {
	font: 30px Arial;
	color: white;
}
#github_text:hover {
	text-decoration: none;
}
.pages {
	text-align: right;
	font: bold 30px Arial;
	padding-top:15px;
	padding-right: 15px;
}

.wraper {
	margin: 10px;
}
.omg {
	font-size: 19px;
	color: #929da4;
}
#omg_center {
	font-size: 23px;
	padding-left: 5px;
	padding-bottom: 3px;
}
#panel {
	padding-left: 10px;
}


/* MUSIC */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, /Users/Rose/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, /Users/Rose/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, /Users/Rose/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, /Users/Rose/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, /Users/Rose/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, /Users/Rose/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, /Users/Rose/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, /Users/Rose/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 8, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
body {
  background-color: #fdfdfd; }

/* line 11, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
.back-to-article {
  text-align: center;
  margin: 25px 0 100px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }
  /* line 16, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  .back-to-article > a {
    text-decoration: none;
    color: #d41f2c; }
    /* line 19, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
    .back-to-article > a:hover {
      border-bottom: 1px solid #d41f2c; }

/* line 21, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
.audio-player-wrapper {
  width: 225px;
  margin: 100px auto 0 auto;
  background-color: #ddddda;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }
  /* line 28, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  .audio-player-wrapper.error .audio-player-image {
    background: #f78471; }
    /* line 30, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
    .audio-player-wrapper.error .audio-player-image:before {
      position: absolute;
      top: 0;
      bottom: 0;
      height: 10px;
      width: 100%;
      text-align: center;
      margin: auto;
      color: white;
      content: "Error loading";
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 13px; }
    /* line 43, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
    .audio-player-wrapper.error .audio-player-image > * {
      display: none; }

/* line 46, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
.audio-player-image {
  position: relative;
  height: 149px;
  -webkit-backface-visibility: hidden; }
  /* line 50, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  .audio-player-image > img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto; }
    /* line 56, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
    .audio-player-image > img.fading {
      -webkit-transition: opacity 200ms linear;
      -moz-transition: opacity 200ms linear;
      -o-transition: opacity 200ms linear;
      transition: opacity 200ms linear;
      z-index: 1;
      opacity: 0; }

/* line 61, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
.audio-player-song-name {
  position: absolute;
  z-index: 2;
  bottom: 5px;
  right: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
  text-transform: uppercase; }

/* line 73, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
.audio-player-controls {
  padding: 15px; }

@-moz-keyframes loadingStripes {
  /* line 77, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  0% {
    background-position: -20px; }

  /* line 79, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  100% {
    background-position: 0px; } }

@-webkit-keyframes loadingStripes {
  /* line 77, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  0% {
    background-position: -20px; }

  /* line 79, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  100% {
    background-position: 0px; } }

@-o-keyframes loadingStripes {
  /* line 77, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  0% {
    background-position: -20px; }

  /* line 79, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  100% {
    background-position: 0px; } }

@-ms-keyframes loadingStripes {
  /* line 77, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  0% {
    background-position: -20px; }

  /* line 79, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  100% {
    background-position: 0px; } }

@keyframes loadingStripes {
  /* line 77, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  0% {
    background-position: -20px; }

  /* line 79, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  100% {
    background-position: 0px; } }

/* line 82, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
.audio-player-progress {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 25px;
  background-color: #a0a7af;
  overflow: hidden; }
  /* line 89, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  .audio-player-progress.loading {
    background-image: -webkit-linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
    background-size: 20px 20px;
    -webkit-animation: loadingStripes 700ms linear infinite;
    -moz-animation: loadingStripes 700ms linear infinite;
    -ms-animation: loadingStripes 700ms linear infinite;
    -o-animation: loadingStripes 700ms linear infinite;
    animation: loadingStripes 700ms linear infinite; }

/* line 94, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
.audio-player-progress-bar {
  -webkit-transition: width 200ms linear;
  -moz-transition: width 200ms linear;
  -o-transition: width 200ms linear;
  transition: width 200ms linear;
  display: block;
  height: 100%;
  width: 0;
  max-width: 100%;
  background-color: #808e97;
  border-radius: 25px; }

/* line 103, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
.audio-player-button {
  display: block;
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  margin: 0 5px;
  border-radius: 100%;
  border: 3px solid #808e97;
  opacity: 0.8;
  cursor: pointer; }
  /* line 114, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  .audio-player-button:hover {
    opacity: 1; }
  /* line 116, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  .audio-player-button::before {
    position: absolute;
    top: -1px;
    bottom: 0;
    left: -12px;
    right: 0;
    width: 0px;
    height: 0px;
    margin: auto;
    line-height: 1px;
    font-size: 20px;
    color: #808e97; }
  /* line 128, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  .audio-player-button.icon-pause::before {
    font-size: 18px;
    top: 1px;
    left: -15px; }
  /* line 132, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  .audio-player-button.icon-backward::before {
    left: -17px; }
  /* line 134, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  .audio-player-button.small {
    width: 25px;
    height: 25px;
    margin-top: 5px; }
    /* line 138, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
    .audio-player-button.small::before {
      font-size: 15px; }

/* line 141, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
.audio-player-button-wrappers {
  overflow: hidden;
  *zoom: 1;
  display: block;
  width: 133px;
  margin: 15px auto 0 auto; }
/* <div class="square"></div>
				<p>ectuser - Untitled(08/02/2017)</p>
				<audio controls>
				<source src="audio/Untitled.mp3" type="audio/mpeg"></audio>
				<p>ectuser - Calmness(02/22/2017)</p>
				<audio controls>
				<source src="audio/Calmness.mp3" type="audio/mpeg"></audio>
				<p>ectuser - Joke(03/04/2017)</p>
				<audio controls>
				<source src="audio/Joke.mp3" type="audio/mpeg"></audio>
				<p>ectuser - Hurricane Matthew(03/07/2017)</p>
				<audio controls>
				<source src="audio/Hurricane Matthew.mp3" type="audio/mpeg"></audio>
				<p>ectuser - Next To Hole(03/19/2017)</p>
				<audio controls>
				<source src="audio/Next To Hole.mp3" type="audio/mpeg"></audio>
				<p>ectuser - The Depth(03/21/2017)</p>
				<audio controls>
				<source src="audio/The Depth.mp3" type="audio/mpeg"></audio>
			</div>
		</div>
		
		<p>ectuser - Untitled(08/02/2017)</p>
				<audio id="music" preload="true">
					<source src="audio/Untitled.mp3">
				</audio>
				<div id="audioplayer">
					<button id="pButton" class="play"></button>
						<div id="timeline">    
							<div id="playhead"></div>
						</div>
				</div>
				<p>ectuser - Untitled(08/02/2017)</p>
				<audio id="music" preload="true">
					<source src="audio/Untitled.mp3">
				</audio>
				<div id="audioplayer">
					<button id="pButton" class="play"></button>
						<div id="timeline">    
							<div id="playhead"></div>
						</div>
				</div>
				<p>ectuser - Calmness(02/22/2017)</p>
				<audio id="music" preload="true">
					<source src="audio/Calmness.mp3">
				</audio>
				<div id="audioplayer">
					<button id="pButton" class="play"></button>
						<div id="timeline">    
							<div id="playhead"></div>
						</div>
				</div>
				<p>ectuser - Joke(03/04/2017)</p>
				<audio id="music" preload="true">
					<source src="audio/Joke.mp3">
				</audio>
				<div id="audioplayer">
					<button id="pButton" class="play"></button>
						<div id="timeline">    
							<div id="playhead"></div>
						</div>
				</div>
				<p>ectuser - Hurricane Matthew(03/07/2017)</p>
				<audio id="music" preload="true">
					<source src="audio/Hurricane Matthew.mp3">
				</audio>
				<div id="audioplayer">
					<button id="pButton" class="play"></button>
						<div id="timeline">    
							<div id="playhead"></div>
						</div>
				</div>
				<p>ectuser - Next To Hole(03/19/2017)</p>
				<audio id="music" preload="true">
					<source src="audio/Next To Hole.mp3">
				</audio>
				<div id="audioplayer">
					<button id="pButton" class="play"></button>
						<div id="timeline">    
							<div id="playhead"></div>
						</div>
				</div>
				<p>ectuser - The Depth(03/21/2017)</p>
				<audio id="music" preload="true">
					<source src="audio/The Depth.mp3">
				</audio>
				<div id="audioplayer">
					<button id="pButton" class="play"></button>
						<div id="timeline">    
							<div id="playhead"></div>
						</div>
				</div>
		*/
