@import url(reset.css);
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait)  {
	body .wraper{
		text-align: center;
	}
	body .wraper_1 {
		position: relative;
		width: 330px;
		background-color: #ffffff;
	}
	body header {
		text-align: center;
	}
	body .square_4 {
	display: inline-block;
	padding: 5px 3px;
	color: #337ab7; /* цвет текста */
	background:#ffffff; /* фон блока */
	border: 1px solid #337ab7;
	cursor: pointer;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-moz-border-radius: 10px; /* закругление для старых Mozilla Firefox */
	-webkit-border-radius: 10px; /* закругл. для старых Chrome и Safari */
	-khtml-border-radius:10px; /* закругл. для браузера Konquerer системы Linux */
	border-radius: 10px; /* закругление углов для всех, кто понимает */
	font: 9px Arial;
	}
	body #portfolio {
		text-align: center;
	}
	}
.wraper_1 {
	position: fixed;
	width: 1140px;
	background-color: #e2e2e2;
	z-index: 1;
	padding-top: 10px;
}
.row div {
	padding-top: 10px;
}
#about_me .row .col-lg-8 {
	padding-left: 30px;
}
.link {
	
}
.square_4 {
	display: inline-block;
	padding: 5px 10px;
	color: #337ab7; /* цвет текста */
	background:#ffffff; /* фон блока */
	border: 1px solid #337ab7;
	cursor: pointer;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-moz-border-radius: 10px; /* закругление для старых Mozilla Firefox */
	-webkit-border-radius: 10px; /* закругл. для старых Chrome и Safari */
	-khtml-border-radius:10px; /* закругл. для браузера Konquerer системы Linux */
	border-radius: 10px; /* закругление углов для всех, кто понимает */
}
.square_4:hover {
	color: #ffffff; /* цвет текста */
	background:#337ab7; /* фон блока */
}

/*.row a {
	font: 15px Arial;
}

a {
	color: gray !important;
	text-decoration: none;
}

a:hover {
	text-decoration: none !important;
	color: #141414 !important;
	font: bold 16px Arial;
	
}*/

#portfolio {
	font: bold 30px Arial;
	text-align: right;
}
#square {
   width: 100%; 
   height: 1px; 
   background: slategray; 
}
#back_1 {
	height: 560px;
	text-align: center;
	background-color: #eeeeef;
}
#head_back_1 {
	padding-top: 200px;
	font: 55px Arial;
}
/*#github {
	margin: auto; 
	width: 200px;
	height: 50px;
	background-color: #337ab7;
	padding-top: 7px;
}
#github_text {
	color: white !important;
	font: 30px Arial !important;
} */
#github { 
 width:200px; /* Длина фигуры */
 height:50px; /* Высота фигуры */
 color: #0000; /* цвет текста */
 background:#337ab7; /* фон блока */
 -moz-border-radius: 10px; /* закругление для старых Mozilla Firefox */
 -webkit-border-radius: 10px; /* закругл. для старых Chrome и Safari */
 -khtml-border-radius:10px; /* закругл. для браузера Konquerer системы Linux */
 border-radius: 10px; /* закругление углов для всех, кто понимает */
 margin:auto;
 padding-top: 8px;
 transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
}
#github:hover {
	background: #67abe5;
}
#github_text {
	font: 30px Arial;
	color: white;
}
#github_text:hover {
	text-decoration: none;
}
.pages {
	text-align: center;
	font: bold 30px Arial;
	padding-top:15px;
}
.text_about_me {
	font: 30px Arial;
}
#about_me {
	padding-bottom: 15px;
	background-color: #f7f7f7;
}
#my_specialization {
	background-color: #eeeeef;
	padding-bottom: 30px;
}

.square_2 {
	width: 300px;
	height: 200px;
	border: 2px solid gray;
	margin: auto;
	background-color: #f7f7f7;
}
.main_inf{
	padding-top: 35px;
	font: 30px Arial;
	text-align: center;
}
.desc_inf {
	padding-top: 10px;
	font: 20px Arial;
	color: gray;
	width: 270px;
	margin: auto;
	text-align: center;
}

#my_projects {
	background-color: #f7f7f7;
	padding-bottom: 20px;
}

.wraper {
	padding: 10px;
}

	
.iso-nav {
	padding: 20px 10px;
	margin: 0 auto;
	text-align: center;
}
.iso-nav ul li {
	list-style: none;
	padding: 0;
	display: inline-block;
	padding: 10px 20px;
	color: #c7d5ed; /* цвет текста */
	background:#337ab7; /* фон блока */
	cursor: pointer;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-moz-border-radius: 10px; /* закругление для старых Mozilla Firefox */
	-webkit-border-radius: 10px; /* закругл. для старых Chrome и Safari */
	-khtml-border-radius:10px; /* закругл. для браузера Konquerer системы Linux */
	border-radius: 10px; /* закругление углов для всех, кто понимает */
}
.iso-nav ul li:hover {
	background: #67abe5;
	color: #ffffff;
}

.main-iso {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.item {
	display: inline-block;
	padding: 10px 10px;
	margin: 0 auto;
}
.square_3 {
	width: 300px;
	height: 200px;
	border: 2px solid #337ab7;
	margin: auto;
	-moz-border-radius: 10px; /* закругление для старых Mozilla Firefox */
	-webkit-border-radius: 10px; /* закругл. для старых Chrome и Safari */
	-khtml-border-radius:10px; /* закругл. для браузера Konquerer системы Linux */
	border-radius: 10px; /* закругление углов для всех, кто понимает */
}
#contacts {
	background-color: #eeeeef;
	padding-bottom: 30px;
}
#contacts .alert {
	font: 25px Arial;
}
#map {
			height: 400px;
			width: 100%;
       }

/*
<div class="row">
				<div class="col-lg-2"><a href="#about_me">About me</a></div>
				<div class="col-lg-2"><a href="#my_specialization">My specialization</a></div>
				<div class="col-lg-2"><a>My projects</a></div>
				<div class="col-lg-2"><a>Contacts</a></div>
				<div class="col-lg-4" id="portfolio">Portfolio</div>
			</div>
				<div id="github">
				<p><a href="https://github.com/ectuser">GitHub</a></p>
				</div>
				
				<div id="map"></div>
					<script>
					function initMap() {
						var uluru = {lat: 56.500466, lng: 84.982073};
						var map = new google.maps.Map(document.getElementById('map'), {
						zoom: 5,
						center: uluru
						});
					var marker = new google.maps.Marker({
						position: uluru,
						map: map
					});
					}
					</script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiNav0gDVAsaCtsJhs4ztjCjyd9XYeNVg&callback=initMap">
    </script>
	
	<header class="container">
				<div class="wraper">
					<div class="col-lg-6">
						<a href="#about_me" class="link"><div class="square_4">About Me</div></a>
						<a href="#my_specialization" class="link"><div class="square_4">My Specialization</div></a>
						<a href="#my_projects" class="link"><div class="square_4">My Projects</div></a>
						<a href="#contacts" class="link"><div class="square_4">Contacts</div></a>
					</div>
					<div class="col-lg-6">
						<p id="portfolio">ectuser</p>
					</div>
				</div>
			</header>
			header {
	position: fixed;
	background-color:#ffffff;	
	z-index: 1;
}
			*/